/* css design theme: black, white, blue */
/* looking into template options - might opt for tweaking a downloaded template */

body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
