/*test add new .css file jpowell 11/11/2021*/

/* css design theme: black, white, blue */
/* looking into template options */

body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
